# ========================================
# Maven
# ========================================
/target/

# ========================================
# TestNG default output
# ========================================
/test-output/

# ========================================
# IDE Files
# ========================================
.metadata/
.settings/
.project
.classpath
.idea/
*.iml

# ========================================
# OS
# ========================================
.DS_Store
Thumbs.db

# ========================================
# Logs
# ========================================
*.log
